<div class="produto-card" th:fragment="produtoFragmento" th:each="f : ${listaProdutos}"
    th:attr="onclick='window.location.href=\'/produto?id=' + ${f.produto.id} + '\''">

    <img alt="Foto produto" th:src="${f.produto.imagens[0].url}" class="produto-foto" />

    <span th:if="${f.produto != null and f.produto.titulo != null}" th:text="${f.produto.titulo}"
        class="produto-font-titulo padding-10">
    </span>

    <span th:if="${f.vendedor != null and f.vendedor.nome != null}" class="produto-font-vendedor"
        th:text="'Por ' + ${f.vendedor.nome}"></span>


    <div th:if="${f.produto.preco == null}" class="produto-preco-box">
        <span class="produto-font-desconto" th:text="'R$ ' + ${f.produto.preco}"></span>
        <span class="produto-font-preco">R$ 35,90 <span class="produto-font-green">25 % OFF</span></span>
    </div>
    <div th:unless="${f.produto.preco == null}" class="produto-preco-box">
        <span class="produto-font-preco" th:text="'R$ ' + ${f.produto.preco}"></span>
    </div>

    <span class="produto-font-green produto-font-padding-10-sm">Frete grátis</span>
    <span class="produto-font-padding-10-sm">Enviado pelo <img src="imgs/lightning-alt-svgrepo-com.svg" alt="Full"
            height="12px" /><span class="produto-font-green">FULL</span></span>
</div>