html {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    background: #ededed;
}

* {
    font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
}


span {
    font-size: 12px;
    font-weight: 400;
}