.home-body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-body-produtos {
    max-width: 885px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}