<!DOCTYPE html>
<html xmlns:th="<http://www.thymeleaf.org>" lang="pt-br" xml:lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meli</title>
    <link rel="stylesheet" th:href="@{/css/geral.css}" />
    <link rel="stylesheet" th:href="@{/css/produto-detalhe.css}" />
    <link rel="stylesheet" th:href="@{/css/search-box.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/produto.css}" />
</head>

<body>
    <div th:replace="~{fragments/header :: cabecalho}"></div>

    <div class="home-body">
        <div class="home-body-filtro"></div>
        <div class="home-body-produtos">
            <div th:replace="~{fragments/produto-detalhe :: produtoDetalhe}"></div>

            <div th:if="${produto == null}">
                <span style="font-size: 16px">Produto não encontrado</span>
            </div>
        </div>
    </div>

</body>

</html>